<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="stylesheet" href="/assets/css/banner.css">
<link rel="stylesheet" href="/assets/css/footer.css">
<link rel="stylesheet" href="/assets/css/header.css">
<link rel="stylesheet" href="/assets/css/writing.css">