<footer class="site-footer">
  <div class="footer-top">

    <div class="footer-links key-links">
      <a href="/the_noise_and_the_nativity" data-i18n="noise_nativity">The Noise and the Nativity</a>
      <a href="/story" data-i18n="candy_cane">The Story of the Candy Cane</a>
      <a href="/voices_of_the_season" data-i18n="voices_season">Voices of the Season</a>
      <a href="/get_involved" data-i18n="get_involved">Get Involved</a>
      <a href="/about" data-i18n="about_us">About Us</a>
    </div>

    <hr>

    <div class="footer-links extra-links">
      <!-- <a href="#" data-i18n="extra_1">Extra Link 1</a>
      <a href="#" data-i18n="extra_2">Extra Link 2</a>
      <a href="#" data-i18n="extra_3">Extra Link 3</a>
      <a href="#" data-i18n="extra_4">Extra Link 4</a>
      <a href="#" data-i18n="extra_5">Extra Link 5</a> -->
    </div>

    <div class="footer-languages">
      <label for="langSelect" data-i18n="choose_lang">Choose language:</label>
    <div class="custom-select-wrapper">
      <select id="langSelect">
        <option value="en">English</option>
        <option value="es">Español</option>
      </select>
    </div>
  </div>
  <div class="footer-disclaimer">
    <span>
      <p data-i18n="disclaimer">The True Christmas Project is supported entirely by volunteers, including essay submissions and translations. While every effort is made to ensure the accuracy of translations, not all essays may be translated, and translations may contain errors or differences in interpretation due to the volunteer nature of this work. Please note that The True Christmas Project is not responsible for mistakes in translations, whether accidental or intentional. Volunteers contribute their time freely, and content is provided in good faith.If you notice any translation errors or inappropriate content, please help us improve by</p> 
      <a href="https://forms.gle/8XXeEbarfveGGCfm6" target="_blank" data-i18n="disclaimerReport">reporting it.</a>
    </p>
  </div>

  <div class="footer-bottom">
    <p data-i18n="copyright">&copy; 2025 Silas Schlax | The True Christmas Project</p>
  </div>
</footer>


<script src="/assets/js/lang.js" defer></script>
<!-- 100% privacy-first analytics -->
<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
