<header>
  <a href="/"><img src="/assets/images/TCP-logo.png" alt="True Christmas Project Logo" class="logo"></a>
  
  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav class="links" id="navLinks">
    <a data-i18n="nav.about" href="/about">About</a>
    <a data-i18n="nav.story" href="/story">Story</a>
    <a data-i18n="nav.essay" href="/the_noise_and_the_nativity">Essay</a>
    <a data-i18n="nav.getI" href="/get_involved">Get Involved</a>
  </nav>
</header>


<script src="/assets/js/burger.js"></script>