.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  font-family: var(--tangerine-bold-ft)
}

.hero-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 90%;
  max-width: 1200px;
}

.hero-row {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.hero-card {
  position: relative;
  text-align: center;
  color: var(--color-bg);
  text-decoration: none;
  overflow: hidden;
  border-radius: 1rem;
  flex: 1;
  aspect-ratio: 16 / 9;
}

.hero-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease, filter 0.4s ease;
  border-radius: 1rem;
}

.hero-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0.25), rgba(0,0,0,0.6));
  border-radius: 1rem;
}

.hero-card p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-card:hover img {
  transform: scale(1.05);
  filter: brightness(0.9);
}

.hero-card.large {
  flex: 1;
}

.hero-card.small {
  flex: 1;
}

.hero-row.bottom .hero-card.small {
  aspect-ratio: 4 / 3;
}


@media (max-width: 900px) {
  .hero-row {
    flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .hero-container {
    margin-top: 20px;
  }

  .hero-row {
    flex-direction: column;
    align-items: center;
  }

  .hero-card,
  .hero-row.bottom .hero-card.small {
    flex: none;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9 !important;
    margin-bottom: 1rem;
  }


  .hero-card p {
    font-size: 2.5rem;
  }
}